html {
  overflow-x: hidden;
  height: 100%;
}
body {
  margin: 0;
  overflow-x: hidden; 
  min-width: 768px;
}
* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
div#body {
  /*opacity: 0;*/
}
div#body.active {
  opacity: 1;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
a {
  text-decoration: none;
}
div.stick {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.2);
  z-index: 5;
}
div.stick:nth-child(1):after {
  content: '';
  width: 4px;
  height: 98px;
  background: #b62542;
  position: absolute;
  top: 169px;
  z-index: 11;
  /*animation: random1 10s infinite;*/
}
@keyframes random1 {
  20% { transform: translateY(-20vh); }
  80% { transform: translateY(70vh); }
  100% { transform: translateY(0); }
}
div.stick:nth-child(5):after {
  content: '';
  width: 4px;
  height: 98px;
  background: #b62542;
  position: absolute;
  bottom: 114px;
  z-index: 11;
  /*animation: random1 10s infinite;*/
}
div.stick:nth-child(7):after {
  content: '';
  width: 4px;
  height: 98px;
  background: #b62542;
  position: absolute;
  top: 239px;
  left: -4px;
  z-index: 11;
  /*animation: random1 10s infinite 3s;*/
}
nav {
  width: 12.5%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  background: #f6f6f6;
  transform: translate(0, 0) scaleY(0);
  transition: 1s cubic-bezier(0.81, 0.01, 0.1, 0.99);
  overflow: hidden;
  transition-delay: 1s;
  transform-origin: bottom;
}
nav.active {
  transform: translate(0,0) scaleY(1);
  transition-delay: 0s;
}
nav div#nav-logo{
  text-align: center;
  transition: 1s;
  transform: translateY(-100%);
  transition-delay: .4s;
}
nav.active div#nav-logo {
  transition-delay: 1s;
  transform: translateY(0);
}
nav div#nav-logo img {
  width: 64.4px;
  height: auto;
}
nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  text-align: center;
}
nav ul li {
  list-style: none;
  overflow: hidden;
}
nav ul li a {
  font-size: 12px;
  color: #4a4a4a;
  padding: 5px 0;
  display: block;
  transform: translateY(100%);
  transition: .6s;
  transition-delay: 0s;
}
nav.active ul li a {
  transform: translateY(0);
}
nav ul li a.active {
  color: black;
}
div#nav-mobile {
  position: absolute;
  left: 50%;
  bottom: 39px;
  transform: translateX(-50%);
  white-space: nowrap;
  max-width: 100%;
  transition: 1s;
  opacity: 0;
  text-transform: uppercase;
}
nav.active div#nav-mobile {
  opacity: 1; 
}
div#nav-mobile div:first-child {
  color: #4a4a4a;
  font-size: 12px;
}
div#nav-mobile div:last-child {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
main {
  width: 100%;
  display: block;
}
header {
  width: 100%;
  height: 100vh;
}
header div._fade {
  position: absolute;
  width: 12.5%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  transition: 1s cubic-bezier(0.74, 0.02, 0.25, 1);
  pointer-events: none;
}
header div._fade._even {
  transform-origin: top;
}
header div._fade._odd {
  transform-origin: bottom;
}
body.loaded header div._fade._even {
  transform: scaleY(0);
  transform-origin: top;
}
body.loaded header div._fade._odd {
  transform: scaleY(0);
  transform-origin: bottom;
}
/*header div.stick:nth-child(even) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 2s;
}
body.loaded header div.stick:nth-child(even) {
  -webkit-clip-path: polygon(0 0, 100% 0, 1000% 1000%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 1000% 1000%, 0 100%);
}
header div.stick:nth-child(odd) {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: 2s;
}
body.loaded header div.stick:nth-child(odd) {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 1000% 0, 0 0);
  clip-path: polygon(0 100%, 100% 1000%, 1000% 0, 0 0);
}*/
div.back-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
a#main-logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 11;
  transform: translate(-50%,-120%);
  transition: 1s;
}
body.loaded a#main-logo {
  transform: translate(-50%,0);
}
div#center-text {
  position: absolute;
  top: 50%;
  left: 12.5%;
  transform: translate(-200px,-50%);
  z-index: 10;
  opacity: 0;
  transition: 1s;
  transition-delay: .6s;
}
body.loaded div#center-text {
  transform: translate(0,-50%);
  opacity: 1;
}
div#center-text h1 {
  font-size: 76px;
  max-width: 718px;
}
div#center-text h1 span:first-child {
  color: #b62542;
}
div#center-text h1 span:nth-child(2){
  display: inline-block;
}
div#center-text h1 span:nth-child(2):after {
  content: '';
  width: 100%;
  height: 3px;
  background: #b62542;
  position: absolute;
  top: 100%;
  left: 0;
}
div#center-text p {
  font-size: 22px;
  font-weight: 500;
  max-width: 809px;
  margin-top: 36px;
  margin-bottom: 26px;
}
div#center-text a {
  font-size: 22px;
  width: 241px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #b62542;
  color: white;
  transition: .6s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
}
div#center-text a:hover {
  background: black;
}
div#center-text div.small-text {
  vertical-align: middle;
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
}
div#mouse-block {
  position: absolute;
  z-index: 3;
  left: 12.5%;
  transform: translateX(-50%);
  bottom: 97px;
}
div#mouse-block:after {
  content: '';
  width: 1px;
  height: 90px;
  top: 47px;
  position: absolute;
  z-index: 3;
  backface-visibility: hidden;
  background: black;
  left: calc(50% - 0.5px);
}
a#mobile-number{
  font-size: 24px;
  position: absolute;
  top: 57px;
  left: 75%;
  padding-left: 10px;
  z-index: 3;
  color: black;
  font-weight: 600;
}
a#mobile-number:after {
  content: '';
  width: 0%;
  height: 2px;
  background: #b62542;
  position: absolute;
  top: 100%;
  /*right: 0;*/
  left: 0;
  right: 0;
  margin: auto;
  transition: .6s;
}
a#mobile-number:hover:after {
  width: 100%;
}
section {
  width: 100%;
  display: block;
}
section div.back-white {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}
section.change-section {
  height: 300vh;
}
section.advantages {
  height: 300vh;
  background: white;
}
section.advantages div.bottom-text {
  position: absolute;
  z-index: 10;
  left: 62.5%;
  bottom: 30%;
}
section.advantages div.bottom-text h2 {
  font-size: 50px;
  max-width: 410px;
  text-transform: uppercase;
}
section.advantages div.bottom-text h2:after {
  content: '';
  width: 110px;
  height: 4px;
  background: #b62542;
  position: absolute;
  top: 110%;
  left: 0;
}
section.advantages div.bottom-text p:nth-child(2) {
  margin-top: 47px;
  max-width: 481px;
  font-size: 22px;
}
section.advantages div.bottom-text p:nth-child(3) {
  font-size: 16px;
  margin-top: 16px;
  display: inline-block;
}
section.advantages div.bottom-text p:nth-child(3):after {
  content: '';
  width: 60px;
  height: 1px;
  position: absolute;
  left: 110%;
  background: black;
  top: 50%;
  transform: translateY(-50%);
  backface-visibility: hidden;
}
section.advantages div.bottom-text a {
  width: 241px;
  display: inline-block;
  margin-top: 27px;
  height: 60px;
  line-height: 60px;
  background: #b62542;
  text-align: center;
  color: white;
  transition: .6s;
}
section.advantages div.bottom-text a:hover {
  background: black;
}
section.service-container {
  width: 100%;
  padding-top: 61px;
  padding-bottom: 167px;
}
section.service-container div.first-image {
  width: 50%;
  padding-top: 28%;
  left: 12.5%;
  z-index: 10;
  overflow: hidden;
  backface-visibility: hidden;
}
section.service-container div.first-image div {
  transition: .6s;
  backface-visibility: hidden;
}
section.service-container div.first-image:hover div {
  transform: scale(1.1);
}
section.service-container div.second-image {
  width: 25%;
  padding-top: 14%;
  left: 37.5%;
  margin-top: 52px;
  z-index: 10;
  overflow: hidden;
  backface-visibility: hidden;
}
section.service-container div.second-image div {
  transition: .6s;
  backface-visibility: hidden;
}
section.service-container div.second-image:hover div {
  transform: scale(1.1);
}
section.service-container div.third-image {
  position: absolute;
  width: 25%;
  padding-top: 14%;
  top: 50%;
  transform: translate(0,-50%);
  left: 62.5%;
  margin-top: 52px;
  z-index: 10;
  backface-visibility: hidden;
  overflow: hidden;
}
section.service-container div.third-image div {
  transition: .6s;
  backface-visibility: hidden;
}
section.service-container div.third-image:hover div {
  transform: scale(1.1);
}
div.hover_img {
  background: #b62542;
}
div.hover_img.active div {
  opacity: .6;
}
div#services {
  padding-top: 150px;
}
div#services h2 {
  font-size: 50px;
  text-transform: uppercase;
  left: 12.5%;
  padding-left: 66px;
}
div#services ul {
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 54px;
}
div#services ul li {
  list-style: none;
  vertical-align: bottom;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 0 2.5px;
  min-width: 127px;
  max-width: 127px;
}
div#services ul li img {
  margin-bottom: 23px;
  max-height: 53px;
}
div#services ul li p {
  max-height: 15px;
}
div#service-icons {
  z-index: 4;
  left: calc( 12.5% + 66px);
  margin-top: 83px;
  border-left: 2px solid #b62542;
}
section.idea-container div.right-text {
  position: absolute;
  padding-right: 12.5%;
  width: 100%;
  top: 83%;
  transform: translate(0,-50%);
  text-align: right;
  z-index: 6;
}
section.idea-container div.right-text:after {
  content: '';
  display: table;
  clear: both;
}
section.idea-container div.right-text div.float {
  float: right;
  width: 100%;
}
section.idea-container div.right-text h2 {
  font-size: 50px;
  margin-bottom: 44px;
  text-transform: uppercase;  
  float: right;
  max-width: 970px;
}
section.idea-container div.right-text h2:after {
  content: '';
  width: 200px;
  height: 3px;
  background: #b62542;
  right: 0;
  top: 110%;
  position: absolute;   
}
section.idea-container div.right-text p {
  width: 584px;
  text-align: right;
  font-size: 22px;
  float: right;
}
section.idea-container div.right-text div._a_ {
  width: 100%;
  float: right;
  text-align: right;
  margin-top: 30px;
}
section.idea-container div.right-text div._a_ a {
  color: white;
  width: 276px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #b62542;
  text-transform: uppercase;
  transition: .6s;
}
section.idea-container div.right-text div a:hover {
  background: black;
}
section.history-container {
  width: 100%;
}
div#history-content {
  position: absolute;
  bottom: 72px;
  left: 25%;
  z-index: 6;
}
div#history-content h2 {
  max-width: 530px;
  font-size: 80px;
  color: black;
}
div#history-content h2 span {
  color: #b62542; 
  border-bottom: 4px solid #b62542;
}
div#history-content h2 span i {
  font-style: normal;
  font-size: 100px;
}
div#history-content p {
  font-size: 22px;
  color: black;
  max-width: 480px;
  margin-top: 32px;
}
div#history-content div.listing:after {
  content: '';
  width: 34px;
  height: 1px;
  background: black;
  left: 50%;
  top: 0;
  margin-left: -22px;
  position: absolute;
}
div#history-content div.listing:before {
  content: '';
  width: 34px;
  height: 1px;
  background: black;
  left: 50%;
  bottom: 0;
  margin-left: -22px;
  position: absolute;
}
div#history-content div.listing div.list {
  display: flex;
  max-width: 520px;
}
div#history-content div.listing div.list div.side {
  width: 50%;
}
div#history-content div.listing div.list div.side:first-child {
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid black;
}
div#history-content div.listing div.list div.side:first-child div:last-child{
  float: right;
  font-weight: 600;
}
div#history-content div.listing div.list div.side:last-child {
  text-align: left;
  padding-left: 20px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border-left: 0.5px solid black;*/
}
div#history-content div.listing div.list div.side div:first-child {
  font-size: 50px;
  color: #b62542;
  white-space: nowrap;
  font-weight: 700;
}
div#history-content div.listing div.list div.side div:last-child {
  font-size: 18px;
  max-width: 153px;
  color: black;
}
div#history-content div.history-footer {
  max-width: 520px;
  text-align: center;
}
div#history-content div.history-footer div.button {
  text-align: center;
  margin-top: 15px;
}
div#history-content div.history-footer div.button a {
  color: white;
  background: #b62542;
  font-size: 22px;
  transition: .6s;
  width: 241px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
}
div#history-content div.history-footer div.button a:hover {
  background: black;
}
div#history-content div.history-footer div.button div {
  font-size: 18px;
  font-weight: 600;
  max-width: 211px;
  display: block;
  margin: auto;
  margin-top: 15px;
}
section.question-container div.form-container {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25%;
  z-index: 15;
}
section.question-container div.form-container h3 {
  font-size: 40px;
}
section.question-container div.form-container p.leave {
  color: #383838;
  margin-top: 5px;
  font-size: 16px;
}
section.question-container div.form-container form {
  width: 100%;
  margin-top: 24px;
}
section.question-container div.form-container form input {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 23px;
  margin-bottom: 16px;
  border: solid 1px #e5e5e5;
  font-size: 18px;
  outline: none;
  transition: .6s;
}
section.question-container div.form-container form input:focus {
  border-color: #b62542;
}
section.question-container div.form-container form input::placeholder {
  color: black;
  opacity: 0.7;
}
section.question-container div.form-container form input:last-child {
  background: #b62542;
  font-size: 22px;
  color: white;
  border: none;
  cursor: pointer;
  transition: .6s;
}
section.question-container div.form-container form input:last-child:hover {
  background: black;
}
section.question-container div.form-container p.experience {
  font-size: 16px;
  color: #383838;
  width: 235px;
  padding-left: 13px;
  border-left: 2px solid #b62542;
  margin-top: 3px;
}
section#location {
  width: 100%;
  font-size: 0px;
}
section#location img {
  width: 100%;
  height: auto;
  user-select: none;
}
section#location div#map-img {
  overflow: hidden;
}
section#location div#map-img div.map-image {
  position: relative;
  /*transform: scale(2);*/
}
section#location div#map-img div.map-image div.pin {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  animation: pin 1s infinite;
  cursor: pointer;
}
section#location div#map-img div.map-image {
  width: 100%;
  height: auto;
}
section#location div.pin span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b62542;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%,-50%);
  /*animation: pinn 1s infinite .5s;*/
}
@keyframes pin {
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
@keyframes pinn {
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
div#clock-container {
  width: 100%;
  height: 100vh;
}
div#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
div#clock svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-90deg);
  z-index: 4;
  pointer-events: none;
}
div#slider {
  width: 566px !important;
  height: 566px !important;
}
.rs-container.full {
  width: 566px !important;
  height: 566px !important;
}
.rs-handle.rs-move {
  margin: -1.5px 0px 0px -8px !important;
  width: 18px !important;
  height: 18px !important;
  border:  3px solid white;
  background-color: #b3b3b1;
  cursor: default !important;
  animation: pinn 1s infinite;
}
/*.rs-handle:after {
    content: '';
    width: 20px;
    height: 1px;
    background: white;
    position: absolute;
    top: 0px;
    opacity: .4;
    left: -30px;
}
.rs-handle:before {
    content: '';
    width: 20px;
    height: 1px;
    background: white;
    position: absolute;
    bottom: 0px;
    opacity: .4;
    left: -30px;
}*/
.rs-handle.rs-focus {
  margin: -1.5px 0px 0px -8px !important;
  width: 18px !important;
  height: 18px !important;
  border: 3px solid white;
  background-color: #b3b3b1;
}
.rs-bg-color {
  background-color: transparent !important;
}
.rs-tooltip.rs-tooltip-text.edit {
  visibility: hidden;
}
.rs-range-color {
  background: transparent !important;
}
.rs-path {
  background: transparent !important;
}
.rs-block {
  visibility: hidden !important;
}
div#box {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: absolute;
  top: 0px;
  /*margin-left: -100px;*/
  border-radius: 50%;
  left: 0;
  transform-origin: bottom;
  border: 1px solid rgba(255,255,255,0.6);
}
div#box div.stick_ {
  width: 5px;
  height: 50%;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: 0px;
  background: transparent;
  transform-origin: bottom;
}
div#box div.fragment_ {
  width: 1px;
  height: 10px;
  background: white;
  opacity: .4;
  position: absolute;
  top: -20px;
  left: 0;
}
div#time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 12;
  font-size: 84px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  white-space: nowrap;
  /*width: 300px;*/
  /*text-align: center;*/
}
span#hour {
  display: inline-block;
  width: 100px; 
  text-align: right;
}
span#minute {
  display: inline-block;
  width: 100px; 
}
div#time i {
  font-style: normal;
}
div.moon {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  letter-spacing: 1.63px;
  text-shadow: 0 0 20px rgba(0,0,0,0.33);
  color: white;
}
div.midnight {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  letter-spacing: 1.63px;
  text-shadow: 0 0 20px rgba(0,0,0,0.33);
  color: white;
}
div.sunset {
  position: absolute;
  top: 50%;
  right: -120px;
  letter-spacing: 1.63px;
  transform: translateY(-50%);
  font-size: 14px;
  text-shadow: 0 0 20px rgba(0,0,0,0.33);
  color: white;
}
div.sunrise {
  position: absolute;
  top: 50%;
  left: -120px;
  letter-spacing: 1.63px;
  transform: translateY(-50%);
  font-size: 14px;
  text-shadow: 0 0 20px rgba(0,0,0,0.33);
  color: white;
}

div#loader-fragment {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #b62542;
  background: white;
  /*transform: scaleX(0) translateX(-100%);*/
  /*animation: demo cubic-bezier(0.76, 0.02, 0.07, 0.99) 1s forwards;*/
  transform-origin: left;
  z-index: 9999;
}
body.loaded div#loader-fragment {
  display: none;
}
@keyframes demo {
  50% { transform: scaleX(1); translateX(0) }
  100% { transform: scaleX(0) translateX(100%); transform-origin: right; }
}
section#last-container {
  width: 100%;
  background: white;
  padding: 225px 0;
  padding-left: 12.5%;  
  overflow: hidden;
}
section#last-container div.text-content { 
  text-align: center;
  max-width: 830px;
  margin: auto;
  z-index: 10;
}
section#last-container div.text-content h3 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}
section#last-container div.text-content p {
  font-size: 22px;
  margin-top: 30px;
}
section#last-container div.image-content {
  width: 100%;
  height: 200%;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer {
  width: 100%;
  background: #1b1e25;
  height: 360px;
}
footer h4 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 56px;
  left: 25%;
}
footer h5 {
  font-size: 30px;
  color: #b62542;
  position: absolute;
  top: 100px;
  left: 25%;
}
footer ul {
  position: absolute;
  top: 172px;
  left: 25%;
  padding: 0;
  margin: 0;
}
footer ul li {
  display: inline-block;
  list-style: none;
  padding-right: 133px;
}
footer ul li div {
  font-size: 16px;
  color: white;
  margin-bottom: 12px;
}
footer ul li a {
  font-size: 20px;
  color: white;
  font-weight: 500;
}
div#copyright {
  position: absolute;
  left: 25%;
  top: 292px;
  color: white;
  font-size: 14px;
}
form#subscribe {
  width: 480px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 54px;
  font-size: 0px;
  right: 12.5%;
}
form#subscribe input {
  height: 60px;
  border: none;
  background: white;
  outline: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  transition: .6s;
}
form#subscribe input::placeholder {
  color: black;
  font-weight: normal;
}
form#subscribe input:first-child {
  width: calc(100% - 155px);
  padding-left: 29px;
}
form#subscribe input:last-child {
  width: 155px;
  color: #b62542;
  text-align: center;
  cursor: pointer;
}
form#subscribe input:last-child:hover {
  background: black;
}
form#subscribe div.stick {
  width: 1px;
  height: 40px;
  background: #d8d8d8;
  position: absolute;
  top: 50%;
  left: calc(100% - 155px);
  transform: translateY(-50%);
}
footer ol {
  position: absolute;
  right: 12.5%;
  top: 293px;
  padding: 0;
  margin: 0;
}
footer ol li {
  list-style: none;
  display: inline-block;
  padding-left: 25px;
}
footer ol li a {
  font-size: 12px;
  color: white;
}

/* _animations */

@keyframes bu {
  from { transform: translateY(200px); opacity: 0; visibility: hidden; }
  to { transform: translateY(0); opacity: 1; visibility: visible; }
}
.bu {
  animation: bu 1s both;
}
@keyframes FL {
  from {
    visibility: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(101% 0, 0 0, 0 101%, 101% 101%);
    clip-path: polygon(101% 0, 0 0, 0 101%, 101% 101%);
    visibility: visible;
  }
}
.FL {
  animation: FL 1s both;
}
@keyframes FR {
  from {
    visibility: hidden;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    visibility: visible;
    -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
}
.FR {
  animation: FR 1s both;
}
@keyframes a_a {
  from {
    visibility: hidden;
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1
  }
}
.a_a {
  animation: a_a 1s both;
}
@keyframes b_b {
  from {
    visibility: hidden;
    transform: translate(0,0%);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translate(0,-50%);
    opacity: 1;
  }
}
.b_b {
  animation: b_b 1s both;
}
@keyframes odd {
  from {
    visibility: hidden;
    transform: translate(100px,0);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}
.odd {
  animation: odd 1s both;
}
@keyframes even {
  from {
    visibility: hidden;
    transform: translate(-100px,0);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}
.even {
  animation: even 1s both;
}
section#test_2:after {
  content: '';
  width: 12.5%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  z-index: 3;
}
div#test1 {
  width: 100%;
  height: 33.3%;
  position: absolute;
  top: 0;
  background: url(../img/down.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  pointer-events: none;
}
div#test1.active {
  opacity: 0;
}
div#test2 {
  width: 100%;
  height: 33.3%;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
div#test2.active {
  opacity: 0;
}
div#test3 {
  width: 100%;
  height: 33.3%;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
div#test3.active {
  opacity: 0;
}
div#test4 {
  width: 100%;
  height: 33.3%;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
div#test4.active {
  opacity: 0;
}
div#test5 {
  width: 100%;
  height: 33.3%;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
div#test5.active {
  opacity: 0;
}
div#test6 {
  width: 100%;
  height: 33.3%;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
div#test6.active {
  opacity: 0;
}

/* _responsive */

@media (max-width: 1680px){
  div#center-text h1 {
    font-size: 40px;
    max-width: 620px;
  }
  div#center-text p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 580px;
  }
  a#main-logo img {
    width: 80px;
  }
  a#mobile-number {
    font-size: 18px;
  }
  div#center-text a {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    width: 140px;
  }
  div#center-text div.small-text {
    font-size: 18px;
  }
  section.advantages div.bottom-text h2 {
    font-size: 40px;
  }
  section.advantages div.bottom-text p:nth-child(2) {
    font-size: 18px;
    margin-top: 35px;
  }
  section.advantages div.bottom-text a {
    width: 140px;
    height: 40px;
    line-height: 40px;
  }
  div#services h2 {
    font-size: 40px;
  }
  div#service-icons {
    margin-top: 30px;
  }
  div#services ul {
    margin-bottom: 30px;
  }
  section.idea-container div.right-text h2 {
    font-size: 30px;
    max-width: 570px;
    margin-bottom: 34px;
  }
  section.idea-container div.right-text p {
    font-size: 18px;
  }
  section.idea-container div.right-text div._a_ a{
    height: 40px;
    line-height: 40px;
    width: 220px;
  }
  div#history-content h2 {
    font-size: 40px;
  }
  div#history-content h2 span i {
    font-size: 50px;
  }
  div#history-content p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  div#history-content div.listing div.list div.side:last-child {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  div#history-content div.listing div.list div.side div:first-child {
    font-size: 40px;
  }
  div#history-content div.listing:before {
    margin-left: -18px;
  }
  div#history-content div.listing:after {
    margin-left: -18px;
  } 
  div#history-content div.history-footer div.button a {
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 140px;
  }
  section.question-container div.form-container h3{
    font-size: 30px;  
  }
  section.question-container div.form-container form input {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
  }
  section.question-container div.form-container form input:last-child {
    padding: 0; 
    font-size: 14px;
  }
  div#slider {
    width: 366px !important;
    height: 366px !important;
  }
  .rs-container.full {
    width: 366px !important;
    height: 366px !important;
  }
  div#time {
    font-size: 60px;
  }
  div#clock svg {
    width: 392px !important;
    height: 392px !important;
  }
  section#last-container div.text-content h3 {
    font-size: 30px;
  }
  section#last-container div.text-content p {
    font-size: 16px;
    margin-top: 20px;
  }
  section#last-container {
    padding-top: 165px;
    padding-bottom: 165px;
  }
  footer h4 {
    font-size: 24px;
    left: 18%;
  }
  footer h5 {
    font-size: 24px;
    left: 18%;
  }
  form#subscribe input {
    height: 40px;
  }
  form#subscribe {
    height: 40px;
    line-height: 40px;
    right: 6.5%;
    width: 400px;
  }
  footer ol {
    right: 6.5%; 
  }
  form#subscribe div.stick {
    height: 30px;
  }
  footer ul {
    left: 18%;
  }
  div#copyright {
    left: 18%;
  }
}
@media (max-width: 1365px){
  div#nav-mobile div:last-child {
    font-size: 12px;
  }
}
@media (max-width: 1023px){
  div.stick:nth-child(odd) {
    display: none;
  }
  div#center-text {
    left: 25%;
  }
  nav {
    width: 25%;
  }
  section.advantages div.bottom-text h2 {
    font-size: 30px;
  }
  section.advantages div.bottom-text {
    left: 52.5%;
  }
  section.service-container div.first-image {
    left: 25%;
  }
  section.service-container div.second-image {
    left: 50%;
  }
  section.service-container div.third-image {
    left: 75%;
  }
  div#services h2 {
    left: 25%;
  }
  div#service-icons {
    left: calc( 25% + 66px);
  }
  section.idea-container div.right-text {
    padding-right: 5%;
  }
  section.idea-container div.right-text h2 {
    max-width: 500px;
    font-size: 24px;
  }
  section.idea-container div.right-text p {
    width: 500px;
    font-size: 16px;
  }
  div#history-content {
    left: calc(25% + 30px);
  }
  section.question-container div.form-container {
    width: 50%;
    transform: translate(-25%,-50%);
  }
  div#clock {
    transform: translate(-25%,-50%)
  }
  div.sunset {
    right: -100px;
  }
  div.sunrise {
    left: -98px;
  }
  section#last-container div.text-content {
    max-width: 500px;
    padding-left: 12.5%;
  }
  footer {
    text-align: center;
    height: unset;
    padding: 30px 0;
    padding-left: 25%;
  }
  footer h4 {
    position: relative;
    left: unset;
    top: unset;
    margin: 10px 0;
  }
  footer h5 {
    position: relative;
    left: unset;
    top: unset;
    margin: 10px 0;
  }
  footer ul {
    position: relative;
    left: unset;
    top: unset;
    margin: 10px 0;
  }
  footer ol {
    position: relative;
    left: unset;
    top: unset;
    right: unset;
    margin: 10px 0;
  }
  form#subscribe {
    position: relative;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
  }
  body {
    overflow-x: visible;
  }
  div#copyright {
    position: relative;
    left: unset;
    top: unset;
    margin: 10px 0;
  }
  footer ul li {
    padding-right: 20px;
  }
  footer ul li a {
    font-size: 16px;
  }
}


/* _mobile */

div#mobile {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
  pointer-events: all;
}
body.loaded div#mobile {
  opacity: 1;
}

@media (max-width: 1200px){
  div#body {
    display: none;
  }
  div#mobile {
    display: block;
  }
  html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
  body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-width: unset; 
  }
}
div#loader-stick {
  width: 100%;
  height: 4px;
  background: #b62542;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  z-index: 3; 
}
div#loader-stick.active {
  animation: loader cubic-bezier(0.74, 0.03, 0.25, 1) 1.4s both;
}
@keyframes loader {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
div#mobile header {
  width: 100%;
  height: unset;
  position: absolute;
  z-index: 5;
}
div#mobile header div.logo-image {
  width: 80px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  margin-left: -40px;
  transition: 1s;
}
body.loaded div#mobile header div.logo-image {
  transform: translateY(0);
}
div#mobile header div.logo-image a {
  display: block;
}
div#mobile header div.logo-image img {
  width: 100%;
  height: auto;
}
div#mobile header a#mobile-call {
  display: block;
  position: absolute;
  background: #b62542;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  right: 33px;
  top: 31px;
  transform: scale(0);
  transition: .6s;
  transition-delay: .5s;
}
body.loaded div#mobile header a#mobile-call {
  transform: scale(1);
}
div#mobile header a#mobile-call svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
div#mobile-burger {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #b62542;
  position: absolute;
  left: 33px;
  top: 31px;
  cursor: pointer;
  transition: 1s;
}
div#mobile.start div#mobile-burger {
  background: transparent;
}
div#mobile-burger div.line {
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  left: 10px;
  transition: .6s;
}
div#mobile.start div#mobile-burger div.line {
  background: black;
}
div#mobile-burger.menu-opened div.line:nth-child(2) {
  opacity: 0;
}
div#mobile-burger.menu-opened div.line:nth-child(1) {
  transform: rotate(45deg) translate(5px,200%);
}
div#mobile-burger.menu-opened div.line:nth-child(3) {
  transform: rotate(-45deg) translate(4px,-200%);
}
div#mobile div.slider-item {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: white;
  transition: 1s;
}
div#mobile div.slider-item div.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div#mobile div.slider-item div.image div.front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
div#mobile div.slider-item div.image div.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div#mobile div.slider-item.active {
  pointer-events: all; 
  opacity: 1;
  transition: 1s;
  transition-delay: 1s;
  opacity: 1;
}
div#mobile div.slider-item div.image.active div.front {
  opacity: 0;
}
div#mobile div.slider-item div.text {
  position: absolute;
  left: 33px;
  bottom: 33px;
  user-select: none;
  transform: translateY(200%);
}
div#mobile div.slider-item.out {
  opacity: 0;
  transition-delay: 1s;
}
div#mobile div.slider-item div.front {
  opacity: 1;
}
div#mobile div.slider-item.out div.front {
  opacity: 0;
}
div#mobile div.slider-item.active.out div.text {
  transform: translateY(-100%);
  opacity: 0;
  transition: 1s;
}
div#mobile div.slider-item.active div.text {
  transform: translateY(0%);
  opacity: 1;
  transition: 1s;
  transition-delay: 1s;
}
div#mobile div.slider-item.active.out div.text {
  transition-delay: 0s !important;
}



div#mobile div.slider-item div.custom-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
div#mobile div.slider-item.active.pre {
  transition: 0s !important;
  transition-delay: 0s !important;
}
div#mobile div.slider-item.active.pree {
  transition: 0s !important;
  transition-delay: 0s !important;
}
div#mobile div.slider-item.active.pree.out {
  transition: 1s !important;
  transition-delay: 1s !important;

}
/*div#mobile div.slider-item.out div.custom-image {
  transform: translateY(-60px);
}
div#mobile div.slider-item div.custom-image_1 {
  transform: translateY(-60px);
}*/
div#mobile div.slider-item.pree div.custom-image_1 {
  transition: 1s;
}
div#mobile div.slider-item.active.pree div.custom-image_1 {
  transform: translateY(-60px);
  transition: 1s;
}
div#mobile div.slider-item div.border {
  width: 23px;
  height: 23px;
  border: 2px solid black;
  border-top: 0;
  border-right: 0;
  position: absolute;
  left: 49%;
  bottom: 17px;
  transform: rotate(-45deg) translateY(-50%);
}






div#mobile div.text h2 {
  font-size: 30px;
  color: black;
}
div#mobile div.text h2 span {
  color: #b62542;
}
div#mobile div.text p {
  font-size: 14px;
  color: black;
  margin-top: 6px;
}
div#mobile div.text a {
  width: 309px;
  height: 55px;
  background-color: #b62542;
  color: white;
  font-size: 22px;
  line-height: 55px;
  text-align: center;
  display: block;
  margin-top: 13px;
}


/* popup  */

div#left-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  display: none;
}
div#left-popup div.body svg {
  position: absolute;
  right: 46px;
  top: 46px;
  z-index: 10;
  cursor: pointer;
  transition: 1s;
  display: inline-block;
}
div#left-popup div.body svg:hover {
  transform: rotate(360deg);
}
div#left-popup.active-p {
  display: block;
}
div#left-popup div.body {
  width: 715px;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
}
div#left-popup div.body div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 481px;
}

div#left-popup div.body div.content div.form-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 15;
  width: 100%;
}
div#left-popup div.body div.content div.form-container h3 {
  font-size: 40px;
}
div#left-popup div.body div.content div.form-container p.leave {
  color: #383838;
  margin-top: 5px;
  font-size: 16px;
}
div#left-popup div.body div.content div.form-container form {
  width: 100%;
  margin-top: 24px;
}
div#left-popup div.body div.content div.form-container form input {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 23px;
  margin-bottom: 16px;
  border: solid 1px #e5e5e5;
  font-size: 18px;
  outline: none;
  transition: .6s;
}
div#left-popup div.body div.content div.form-container form input:focus {
  border-color: #b62542;
}
div#left-popup div.body div.content div.form-container form input::placeholder {
  color: black;
  opacity: 0.7;
}
div#left-popup div.body div.content div.form-container form input:last-child {
  background: #b62542;
  font-size: 22px;
  color: white;
  border: none;
  cursor: pointer;
  transition: .6s;
}
div#left-popup div.body div.content div.form-container form input:last-child:hover {
  background: black;
}
div#left-popup div.body div.content div.form-container p.experience {
  font-size: 16px;
  color: #383838;
  width: 235px;
  padding-left: 13px;
  border-left: 2px solid #b62542;
  margin-top: 3px;
}


div#right-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  display: none;
}
div#right-popup.active-z {
  display: block;
}
div#right-popup div.body {
  width: 716px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
}
div#right-popup div.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
div#right-popup div.body img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
}
div#right-popup div.body svg {
  position: absolute;
  left: 46px;
  top: 46px;
  cursor: pointer;
}